body {
  user-select: none;
  height: 100vh;
}

.app-container {
  height: calc(100vh - @app-titlebar-height - @app-statusbar-height);
}

.redis-color {
  color: @reids-icon-color;
}

.folder-color {
  color: @folder-icon-color;
}

.settings-color {
  color: @settings-icon-color;
}
